@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-loading-skeleton/dist/skeleton.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background: url("https://animal-crossing.com/assets/img/patterns/footer-dots.png");
  background-color: #ddd;
}

.header {
  background-color: #333;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inner-header {
  width: 1150px;
  margin: 0 auto;
  padding: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header a,
.header .logout-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background: transparent;
  transition: 0.1s ease-in;
  height: 70px;
}

.header a:hover,
.header .logout-btn:hover {
  background-color: rgb(161, 161, 161);
}

*:focus {
  outline: none;
}

#login-box,
#singup-box {
  position: relative;
  margin: 2rem 0.5rem;
  width: 600px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#login-box {
  height: 400px;
}
#singup-box {
  height: 450px;
}

.sing-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

#login-box input,
#singup-box input,
#reset-box input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

#login-box input:focus,
#login-box textarea:focus,
#singup-box input:focus,
#singup-box textarea:focus,
#reset-box input:focus,
#reset-box textarea:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.1s ease;
}

#login-box input[type="submit"],
#singup-box input[type="submit"],
#reset-box input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

#login-box input[type="submit"]:hover,
#login-box input[type="submit"]:focus,
#singup-box input[type="submit"]:hover,
#singup-box input[type="submit"]:focus,
#reset-box input[type="submit"]:hover,
#reset-box input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

#login-box input[type="submit"]:active,
#singup-box input[type="submit"]:active,
#reset-box input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.singup-link,
.login-link {
  margin-top: 2rem;
  user-select: none;
}
.singup-link a,
.login-link a {
  text-decoration: none;
  color: #16a085;
}
.homePageHeader {
  padding: 0.5rem 2rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
}
.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
/* // -------------------------------------------------------------- */

.blogs-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card__footer img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.blogs-container .card {
  display: flex;
  flex-direction: column;
  width: clamp(23rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  margin: 1rem;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  height: 570px;
}

.blogs-container .card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blogs-container .tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag-black {
  background: #333;
  background: linear-gradient(to bottom, #51524e, #979796);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
/* //--------------------------------------------------------------- */

#add-blog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 50px;
  max-width: 900px;
  height: 700px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.add-blog-container,
.update-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.add-blog-container input,
.update-blog-container input {
  width: 600px;
  border: 1px solid #333;
  padding-left: 5px;
  font-size: 1.3rem;
}
.addBlogBtn {
  border: none !important;
  background-color: #5dc265;
  color: #fff;
  transition: all 0.2s ease-in;
}
.addBlogBtn:hover {
  opacity: 0.8;
}
.blogBody-form {
  position: relative;
  height: 280px;
}
.blogTitle-form {
  position: relative;
  padding-bottom: 1rem;
}
textarea {
  width: 600px;
  min-height: 250px;
  resize: none;
  padding-left: 5px;
  font-size: 1.3rem;
}
.tags-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tags-input-container #tags {
  font-size: 1.2rem;
  max-width: 400px;
}
.tags-input-container button:hover,
.tags-input-container button:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  cursor: pointer;
}

select {
  position: relative;
  min-width: 200px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}
.update-blog-container select,
.add-blog-container select {
  margin-bottom: 10px;
  border-radius: 0;
}

.notifcationMessage {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
  bottom: -200px;
  right: 10px;
  z-index: 3;
  justify-content: space-evenly;
  margin: 0 1rem;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
.notifcationMessage button {
  margin: 0 1rem;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
.notifcationMessage {
  color: "red";
}
.notifcationMessage button:nth-child(1) {
  background-color: rgb(238, 159, 13);
  color: #fff;
}
.notifcationMessage .add {
  background-color: #1ead90;
  color: #fff;
}
.notifcationMessage .delete {
  background-color: rgb(226, 125, 125);
  color: #fff;
}
.notifcationMessage .warning {
  background-color: rgb(217, 189, 66);
  color: #fff;
}
.notifcationMessage.active {
  bottom: 10px !important;
  transition: all 0.3s ease-in-out;
}
.notifcationMessage .login {
  background-color: #1ead90;
  color: #fff;
  font-size: 18px;
}

.back-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.4;
}
.close-btn {
  border: none;
  background-color: #6ee3cc;
  padding: 0 0.5rem;
  color: #333;
  font-size: 1.3rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.blogs-message {
  text-align: center;
}

/* Profile Page */
.container {
  padding-top: 2rem;
}

.account-settings .user-profile {
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar .image {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.account-settings .user-profile .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: "absolute";
  top: 0;
  left: 0;
  border-radius: 50%;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 1rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.container .form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.blog-details .container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.blog-details header {
  background-color: rebeccapurple;
  color: #fff;
  padding: 0.5rem 0;
}
.blog-details textarea::-webkit-scrollbar {
  display: none;
}

.blog-details body > footer {
  border-top: 2px solid rebeccapurple;
}

.blog-details .like-section {
  background: linear-gradient(45deg, #eddbff, transparent);
  color: rebeccapurple;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  padding: 1em;
  border-radius: 4px;
  font-size: 1.4rem;
}

.blog-details .img--align-left {
  float: left; /* replaces the style previously inherited by the browser */
  margin: 0 16px 16px -20px;
  border-radius: 50%;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
